@import 'theme';

.table-list {
  .state-canceled {
    background: $color-error;
  }

  .state-option, .state-active {
    background: $color1;
  }

  .state-confirmed {
    background: $color-success;
  }

  .state-inactive {
    background: $color-error;
  }
}

.bg-color-two {
  .table-list {
    .state-option, .state-active {
      background: $color2;
    }
  }
}


.bg-color-three {
  .table-list {
    .state-option, .state-active {
      background: $color3;
    }
  }
}
